body{
	/*overflow: hidden;
	position: fixed;*/
	font-family: 'Open Sans',sans-serif !important;
    background-color: #ee5d65;
    overflow:none;
	overflow-x: hidden;
	overflow-y: hidden;
}

h1{
    font-size: 64pt !important;
    
}

h2{
	font-size: 48pt !important;
}
li{
	text-align: center;
	background-color: #ffffff;
}
/*
.leftIndicator{
    background-color: #ee5d65;
    width: 50%;
    float: left;
    position: absolute;
    top:0;
    bottom: 0;
    z-index: -999;

}
.rightIndicator{
    background-color: #48cfad;
    width: 50%;
    float: right;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    z-index: -999;
}
*/
